# Pandas Data Journey

## ðŸš€ Quick Start

### Installation

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pc\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

### Import

In [3]:
import pandas as pd

## ðŸ’» Basic Usage Examples

### Creating DataFrames

In [4]:
df = pd.DataFrame() # Empty DataFrame

In [5]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]]) # Basic Matrix

In [6]:
df = pd.DataFrame(
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    columns=["A", "B", "C"],
    index=["X", "Y", "Z"], copy=False
) # With Custom Columns and Index and Preventing Data Copy

### Essential Operations

In [7]:
df.head() # First 5 rows

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [8]:
df.tail() # Last 5 rows

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [9]:
df.info() # Dataset information

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [10]:
df.describe() # Statistical summary

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [11]:
df.shape # Dimensions (rows, columns)

(3, 3)

### Loading Data from Files

In [12]:
coffee = pd.read_csv('coffee.csv') # CSV Files

In [13]:
print(coffee.to_string())

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [14]:
result = pd.read_parquet('results.parquet') # Parquet Files

In [15]:
print(result)

          year    type              discipline                          event  \
0       1912.0  Summer                  Tennis         Singles, Men (Olympic)
1       1912.0  Summer                  Tennis         Doubles, Men (Olympic)
2       1920.0  Summer                  Tennis         Singles, Men (Olympic)
3       1920.0  Summer                  Tennis       Doubles, Mixed (Olympic)
4       1920.0  Summer                  Tennis         Doubles, Men (Olympic)
...        ...     ...                     ...                            ...
308403  2022.0  Winter                    Luge         Singles, Men (Olympic)
308404  2022.0  Winter  Alpine Skiing (Skiing)        Slalom, Women (Olympic)
308405  2022.0  Winter  Alpine Skiing (Skiing)          Team, Mixed (Olympic)
308406  2022.0  Winter  Alpine Skiing (Skiing)  Giant Slalom, Women (Olympic)
308407  2022.0  Winter                    None        Slalom, Women (Olympic)

                           as  athlete_id   noc             team  place  \
0       Jean-FranÃ§ois Blanchy           1   FRA             None   17.0
1       Jean-FranÃ§ois Blanchy           1   FRA   Jean Montariol    NaN
2       Jean-FranÃ§ois Blanchy           1   FRA             None   32.0
3       Jean-FranÃ§ois Blanchy           1   FRA  Jeanne Vaussard    8.0
4       Jean-FranÃ§ois Blanchy           1   FRA  Jacques Brugnon    4.0
...                       ...         ...   ...              ...    ...
308403          MariÃ¡n Skupek      148983   SVK             None   26.0
308404          Elsa FermbÃ¤ck      148984   SWE             None   28.0
308405          Hilma LÃ¶vblom      148985   SWE           Sweden   13.0
308406          Hilma LÃ¶vblom      148985   SWE             None    NaN
308407   Charlotta SÃ¤fvenberg      148986  None             None   24.0

         tied medal
0        True  None
1       False  None
2        True  None
3        True  None
4       False  None
...       ...   ...
308403  False  None
308404  False  None
308405  False  None
308406  False  None
308407  False  None

[308408 rows x 11 columns]

In [16]:
#Affichage of the maximum number of rows by default

In [17]:
print(pd.options.display.max_rows)

60

In [18]:
#change the number maximum of rows

In [19]:
pd.options.display.max_rows = 10

## Cleaning Data

### Cleaning Empty Cells

#### Remove Rows

In [24]:
df = pd.read_csv('Data.csv')

df.dropna(inplace = True)

print(df.to_string())

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
19        60  2020/12/19'    103       123     323.0
21        60  2020/12/21'    108       131     364.2
22        60  2020/12/22'    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60  2020/12/26'    100       120     250.0
27        60  2020/12/27'     92       118     241.0
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

## Advanced Data Filtering and Querying Methods

KeyError: 1