# Pandas Data Journey

## ðŸš€ Quick Start

### Installation

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.5-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 871.1 kB/s eta 0:00:13
   - -------------------------------------- 0.5/11.0 MB 871.1 kB/s eta 0:00:13
   -- ------------------------------------- 0.8/11.0 MB 891.5 kB/s eta 0:00:12
   -- ------------------------------------- 0.8/11.0 MB 891.5 kB/s eta 0:00:12
   --- ------------------------------------ 1.0/11.0 MB 787.1 kB/s eta 0:00:13
   --- ------------------------------------ 1.0/11.0 MB 787.1 kB/s eta 0:00:13
   ---- ----------------------------------- 1.3/11.0 MB 748.8 kB/s eta 0:00:13
   ----- ---------------------------------- 1.6/11.0 MB 735.2 kB/s eta 0:00:13
   ----- ---------------------------------- 1.6/11.0 MB 735.2 kB/s eta 0:00:13
   ------ --------------------------------- 1.8/11.0 MB 752.6 kB/s eta 0:00:13
   ------- -------------------------------- 2.1/11.0 MB 771.7 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/11.0 MB 771.7 kB/s eta 0:00:12
   -------- ------------------------------- 2.4/11.0 MB 771.5 kB/s eta 0:00:12
   --------- ------------------------------ 2.6/11.0 MB 784.7 kB/s eta 0:00:11
   --------- ------------------------------ 2.6/11.0 MB 784.7 kB/s eta 0:00:11
   ---------- ----------------------------- 2.9/11.0 MB 787.9 kB/s eta 0:00:11
   ----------- ---------------------------- 3.1/11.0 MB 799.1 kB/s eta 0:00:10
   ----------- ---------------------------- 3.1/11.0 MB 799.1 kB/s eta 0:00:10
   ------------ --------------------------- 3.4/11.0 MB 807.5 kB/s eta 0:00:10
   ------------- -------------------------- 3.7/11.0 MB 814.3 kB/s eta 0:00:09
   ------------- -------------------------- 3.7/11.0 MB 814.3 kB/s eta 0:00:09
   -------------- ------------------------- 3.9/11.0 MB 806.6 kB/s eta 0:00:09
   -------------- ------------------------- 3.9/11.0 MB 806.6 kB/s eta 0:00:09
   -------------- ------------------------- 3.9/11.0 MB 806.6 kB/s eta 0:00:09
   --------------- ------------------------ 4.2/11.0 MB 764.6 kB/s eta 0:00:09
   --------------- ------------------------ 4.2/11.0 MB 764.6 kB/s eta 0:00:09
   ---------------- ----------------------- 4.5/11.0 MB 753.6 kB/s eta 0:00:09
   ---------------- ----------------------- 4.5/11.0 MB 753.6 kB/s eta 0:00:09
   ----------------- ---------------------- 4.7/11.0 MB 749.0 kB/s eta 0:00:09
   ----------------- ---------------------- 4.7/11.0 MB 749.0 kB/s eta 0:00:09
   ------------------ --------------------- 5.0/11.0 MB 738.0 kB/s eta 0:00:09
   ------------------ --------------------- 5.0/11.0 MB 738.0 kB/s eta 0:00:09
   ------------------- -------------------- 5.2/11.0 MB 727.3 kB/s eta 0:00:08
   ------------------- -------------------- 5.2/11.0 MB 727.3 kB/s eta 0:00:08
   -------------------- ------------------- 5.5/11.0 MB 722.9 kB/s eta 0:00:08
   -------------------- ------------------- 5.8/11.0 MB 731.8 kB/s eta 0:00:08
   --------------------- ------------------ 6.0/11.0 MB 744.5 kB/s eta 0:00:07
   ---------------------- ----------------- 6.3/11.0 MB 755.3 kB/s eta 0:00:07
   ----------------------- ---------------- 6.6/11.0 MB 766.1 kB/s eta 0:00:06
   ----------------------- ---------------- 6.6/11.0 MB 766.1 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.0 MB 759.6 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.0 MB 759.6 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.0 MB 759.6 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.0 MB 759.6 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.0 MB 759.6 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.0 MB 759.6 kB/s eta 0:00:06
   ------------------------- -------------- 7.1/11.0 MB 691.8 kB/s eta 0:00:06
   ------------------------- -------------- 7.1/11.0 MB 691.8 kB/s eta 0:00:06
   ------------------------- -------------- 7.1/11.0 MB 691.8 kB/s eta 0:00:06
   ------------------------- -------------- 7.1/11.0 MB 691.8 kB/s eta 0:00:06
   ------------------------- -------------- 7.1/11.0 MB 691.8 kB/s eta 0:00:06
   -------------------------- ------------- 7.3/11.0 MB 648.9 kB/s eta 0:00:06
   -------------------------- ------------- 7.3/11.0 MB 648.9 kB/s eta 0:00:06
   -------------------------- ------------- 7.3/11.0 MB 648.9 kB/s eta 0:00:06
   -------------------------- ------------- 7.3/11.0 MB 648.9 kB/s eta 0:00:06
   --------------------------- ------------ 7.6/11.0 MB 629.1 kB/s eta 0:00:06
   --------------------------- ------------ 7.6/11.0 MB 629.1 kB/s eta 0:00:06
   --------------------------- ------------ 7.6/11.0 MB 629.1 kB/s eta 0:00:06
   ---------------------------- ----------- 7.9/11.0 MB 609.5 kB/s eta 0:00:06
   ---------------------------- ----------- 7.9/11.0 MB 609.5 kB/s eta 0:00:06
   ----------------------------- ---------- 8.1/11.0 MB 616.3 kB/s eta 0:00:05
   ------------------------------ --------- 8.4/11.0 MB 624.9 kB/s eta 0:00:05
   ------------------------------ --------- 8.4/11.0 MB 624.9 kB/s eta 0:00:05
   ------------------------------- -------- 8.7/11.0 MB 623.0 kB/s eta 0:00:04
   ------------------------------- -------- 8.7/11.0 MB 623.0 kB/s eta 0:00:04
   -------------------------------- ------- 8.9/11.0 MB 626.9 kB/s eta 0:00:04
   --------------------------------- ------ 9.2/11.0 MB 634.3 kB/s eta 0:00:03
   ---------------------------------- ----- 9.4/11.0 MB 639.9 kB/s eta 0:00:03
   ----------------------------------- ---- 9.7/11.0 MB 647.3 kB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 647.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 654.2 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 661.6 kB/s eta 0:00:02
   -------------------------------------- - 10.5/11.0 MB 667.8 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 674.2 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 674.2 kB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 674.3 kB/s eta 0:00:00
Downloading numpy-2.3.5-cp313-cp313-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
    --------------------------------------- 0.3/12.8 MB ? eta -:--:--
    --------------------------------------- 0.3/12.8 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.8 MB 1.3 MB/s eta 0:00:10
   --- ------------------------------------ 1.0/12.8 MB 1.4 MB/s eta 0:00:09
   ---- ----------------------------------- 1.3/12.8 MB 1.4 MB/s eta 0:00:09
   ---- ----------------------------------- 1.6/12.8 MB 1.4 MB/s eta 0:00:08
   ----- ---------------------------------- 1.8/12.8 MB 1.4 MB/s eta 0:00:09
   ------ --------------------------------- 2.1/12.8 MB 1.3 MB/s eta 0:00:08
   ------- -------------------------------- 2.4/12.8 MB 1.3 MB/s eta 0:00:09
   -------- ------------------------------- 2.6/12.8 MB 1.3 MB/s eta 0:00:08
   --------- ------------------------------ 2.9/12.8 MB 1.3 MB/s eta 0:00:08
   --------- ------------------------------ 3.1/12.8 MB 1.3 MB/s eta 0:00:08
   ---------- ----------------------------- 3.4/12.8 MB 1.3 MB/s eta 0:00:08
   ----------- ---------------------------- 3.7/12.8 MB 1.3 MB/s eta 0:00:08
   ----------- ---------------------------- 3.7/12.8 MB 1.3 MB/s eta 0:00:08
   ----------- ---------------------------- 3.7/12.8 MB 1.3 MB/s eta 0:00:08
   ----------- ---------------------------- 3.7/12.8 MB 1.3 MB/s eta 0:00:08
   ----------- ---------------------------- 3.7/12.8 MB 1.3 MB/s eta 0:00:08
   ----------- ---------------------------- 3.7/12.8 MB 1.3 MB/s eta 0:00:08
   ----------- ---------------------------- 3.7/12.8 MB 1.3 MB/s eta 0:00:08
   ------------- -------------------------- 4.2/12.8 MB 967.0 kB/s eta 0:00:09
   ------------- -------------------------- 4.2/12.8 MB 967.0 kB/s eta 0:00:09
   ------------- -------------------------- 4.5/12.8 MB 922.7 kB/s eta 0:00:10
   ------------- -------------------------- 4.5/12.8 MB 922.7 kB/s eta 0:00:10
   -------------- ------------------------- 4.7/12.8 MB 890.9 kB/s eta 0:00:10
   -------------- ------------------------- 4.7/12.8 MB 890.9 kB/s eta 0:00:10
   --------------- ------------------------ 5.0/12.8 MB 886.4 kB/s eta 0:00:09
   --------------- ------------------------ 5.0/12.8 MB 886.4 kB/s eta 0:00:09
   ---------------- ----------------------- 5.2/12.8 MB 876.3 kB/s eta 0:00:09
   ----------------- ---------------------- 5.5/12.8 MB 872.8 kB/s eta 0:00:09
   ----------------- ---------------------- 5.5/12.8 MB 872.8 kB/s eta 0:00:09
   ------------------ --------------------- 5.8/12.8 MB 869.9 kB/s eta 0:00:09
   ------------------ --------------------- 5.8/12.8 MB 869.9 kB/s eta 0:00:09
   ------------------ --------------------- 6.0/12.8 MB 855.4 kB/s eta 0:00:08
   ------------------- -------------------- 6.3/12.8 MB 854.3 kB/s eta 0:00:08
   -------------------- ------------------- 6.6/12.8 MB 862.6 kB/s eta 0:00:08
   --------------------- ------------------ 6.8/12.8 MB 868.3 kB/s eta 0:00:07
   ---------------------- ----------------- 7.1/12.8 MB 878.9 kB/s eta 0:00:07
   ---------------------- ----------------- 7.1/12.8 MB 878.9 kB/s eta 0:00:07
   ---------------------- ----------------- 7.3/12.8 MB 880.6 kB/s eta 0:00:07
   ----------------------- ---------------- 7.6/12.8 MB 883.7 kB/s eta 0:00:06
   ------------------------ --------------- 7.9/12.8 MB 890.1 kB/s eta 0:00:06
   ------------------------- -------------- 8.1/12.8 MB 895.9 kB/s eta 0:00:06
   -------------------------- ------------- 8.4/12.8 MB 899.5 kB/s eta 0:00:05
   --------------------------- ------------ 8.7/12.8 MB 912.1 kB/s eta 0:00:05
   --------------------------- ------------ 8.9/12.8 MB 920.9 kB/s eta 0:00:05
   ---------------------------- ----------- 9.2/12.8 MB 928.4 kB/s eta 0:00:04
   ---------------------------- ----------- 9.2/12.8 MB 928.4 kB/s eta 0:00:04
   ----------------------------- ---------- 9.4/12.8 MB 920.5 kB/s eta 0:00:04
   ------------------------------ --------- 9.7/12.8 MB 930.2 kB/s eta 0:00:04
   ------------------------------- -------- 10.0/12.8 MB 938.2 kB/s eta 0:00:04
   -------------------------------- ------- 10.2/12.8 MB 943.6 kB/s eta 0:00:03
   -------------------------------- ------- 10.5/12.8 MB 946.2 kB/s eta 0:00:03
   --------------------------------- ------ 10.7/12.8 MB 952.4 kB/s eta 0:00:03
   ---------------------------------- ----- 11.0/12.8 MB 955.4 kB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.8 MB 961.8 kB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.8 MB 961.8 kB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.8 MB 961.8 kB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.8 MB 961.8 kB/s eta 0:00:02
   ------------------------------------ --- 11.5/12.8 MB 919.9 kB/s eta 0:00:02
   ------------------------------------ --- 11.5/12.8 MB 919.9 kB/s eta 0:00:02
   ------------------------------------ --- 11.5/12.8 MB 919.9 kB/s eta 0:00:02
   ------------------------------------ --- 11.5/12.8 MB 919.9 kB/s eta 0:00:02
   ------------------------------------ --- 11.8/12.8 MB 882.2 kB/s eta 0:00:02
   ------------------------------------ --- 11.8/12.8 MB 882.2 kB/s eta 0:00:02
   ------------------------------------ --- 11.8/12.8 MB 882.2 kB/s eta 0:00:02
   ------------------------------------- -- 12.1/12.8 MB 862.7 kB/s eta 0:00:01
   -------------------------------------- - 12.3/12.8 MB 859.8 kB/s eta 0:00:01
   -------------------------------------- - 12.3/12.8 MB 859.8 kB/s eta 0:00:01
   ---------------------------------------  12.6/12.8 MB 854.8 kB/s eta 0:00:01
   ---------------------------------------  12.6/12.8 MB 854.8 kB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 847.8 kB/s eta 0:00:00
Installing collected packages: numpy, pandas

   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   ---------------------------------------- 2/2 [pandas]

Note: you may need to restart the kernel to use updated packages.

ERROR: Error while checking for conflicts. Please file an issue on pip's issue tracker: https://github.com/pypa/pip/issues/new
Traceback (most recent call last):
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\commands\install.py", line 587, in _determine_conflicts
    return check_install_conflicts(to_install)
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\operations\check.py", line 116, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\operations\check.py", line 58, in create_package_set_from_installed
    package_set[name] = PackageDetails(dist.version, dependencies)
                                       ^^^^^^^^^^^^
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\metadata\importlib\_dists.py", line 175, in version
    return parse_version(self._dist.version)
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_vendor\packaging\version.py", line 56, in parse
    return Version(version)
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_vendor\packaging\version.py", line 200, in __init__
    match = self._regex.search(version)
TypeError: expected string or bytes-like object, got 'NoneType'
ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\cli\base_command.py", line 105, in _run_wrapper
    status = _inner_run()
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\cli\base_command.py", line 96, in _inner_run
    return self.run(options, args)
           ~~~~~~~~^^^^^^^^^^^^^^^
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\cli\req_command.py", line 68, in wrapper
    return func(self, options, args)
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\commands\install.py", line 486, in run
    installed_versions[distribution.canonical_name] = distribution.version
                                                      ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_internal\metadata\importlib\_dists.py", line 175, in version
    return parse_version(self._dist.version)
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_vendor\packaging\version.py", line 56, in parse
    return Version(version)
  File "C:\Users\PC\anaconda3\Lib\site-packages\pip\_vendor\packaging\version.py", line 200, in __init__
    match = self._regex.search(version)
TypeError: expected string or bytes-like object, got 'NoneType'

### Import

In [7]:
import pandas as pd

## ðŸ’» Basic Usage Examples

### Creating DataFrames

In [5]:
df = pd.DataFrame() # Empty DataFrame

In [6]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]]) # Basic Matrix

In [7]:
df = pd.DataFrame(
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    columns=["A", "B", "C"],
    index=["X", "Y", "Z"], copy=False
) # With Custom Columns and Index and Preventing Data Copy

### Essential Operations

In [8]:
df.head() # First 5 rows

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [9]:
df.tail() # Last 5 rows

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [10]:
df.info() # Dataset information

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [11]:
df.describe() # Statistical summary

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [12]:
df.shape # Dimensions (rows, columns)

(3, 3)

### Loading Data from Files

In [13]:
coffee = pd.read_csv('coffee.csv') # CSV Files

In [14]:
print(coffee.to_string())

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [16]:
#Affichage of the maximum number of rows by default

In [17]:
print(pd.options.display.max_rows)

60

In [18]:
#change the number maximum of rows

In [27]:
pd.options.display.max_rows = 50

## Cleaning Data

### Cleaning Empty Cells

#### Remove Rows

In [20]:
df = pd.read_csv('Data.csv')

df.dropna(inplace = True)

print(df.to_string())

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
19        60  2020/12/19'    103       123     323.0
21        60  2020/12/21'    108       131     364.2
22        60  2020/12/22'    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60  2020/12/26'    100       120     250.0
27        60  2020/12/27'     92       118     241.0
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

#### Replace Empty Values

In [21]:
df.fillna(130, inplace = True)

#### Replace Only For Specified Columns

In [22]:
df.fillna({"Calories": 130}, inplace=True)

#### Replace Using Mean, Median, or Mode

In [23]:
x = df["Calories"].mean()
y = df["Calories"].median()
z = df["Calories"].mode()[0]
# exemple replace with mean value
df.fillna({"Calories": x}, inplace=True)

### Cleaning Data of Wrong Format

#### Data of Wrong Format

##### Convert Into a Correct Format

In [24]:
df['Date'] = pd.to_datetime(df['Date'], format='mixed')

#### Replacing Values

In [25]:
df.loc[7, 'Duration'] = 45

In [28]:
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
19        60 2020-12-19    103       123     323.0
21        60 2020-12-21    108       131     364.2
22        60 2020-12-22    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

### Removing Duplicates

In [29]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
19    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
29    False
30    False
31    False
dtype: bool

In [30]:
df.drop_duplicates(inplace = True)

In [31]:
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
19        60 2020-12-19    103       123     323.0
21        60 2020-12-21    108       131     364.2
22        60 2020-12-22    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

## Data Correlations

In [33]:
dt=pd.read_csv('dt.csv')

In [34]:
print(dt)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [35]:
dt.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000

## Advanced Data Filtering and Querying Methods

In [9]:
bios=pd.read_csv('bios.csv')

##### Conditional Filtering

In [10]:
bios.loc[bios['height_cm'] > 220]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
5673,5696,Gunther Behnke,1963-01-19,Leverkusen,Nordrhein-Westfalen,GER,Germany,221.0,114.0,NaN
5781,5804,Tommy Burleson,1952-02-24,Crossnore,North Carolina,USA,United States,223.0,102.0,NaN
6978,7013,Arvydas Sabonis,1964-12-19,Kaunas,Kaunas,LTU,Lithuania Soviet Union,223.0,122.0,NaN
89070,89782,Yao Ming,1980-09-12,Xuhui District,Shanghai,CHN,People's Republic of China,226.0,141.0,NaN
89075,89787,Roberto DueÃ±as,1975-11-01,Madrid,Madrid,ESP,Spain,221.0,137.0,NaN
120266,122147,Zhang Zhaoxu,1987-11-18,Binzhou,Shandong,CHN,People's Republic of China,221.0,110.0,NaN

In [11]:
bios.loc[
    (bios['height_cm'] > 215) & 
    (bios["born_country"] == "USA"), 
    ["name", "height_cm"]
]

                    name  height_cm
5781      Tommy Burleson      223.0
6722    Shaquille O'Neal      216.0
6937      David Robinson      216.0
123850    Tyson Chandler      216.0

##### String Operation Filtering

In [12]:
bios[bios['name'].str.contains("Keith")]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31
6228,6255,Keith Hartley,1940-10-15,Vancouver,British Columbia,CAN,Canada,200.0,85.0,NaN
8898,8946,Keith Mwila,1966-01-01,NaN,NaN,NaN,Zambia,NaN,NaN,1993-01-09
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22
...,...,...,...,...,...,...,...,...,...,...
109900,111105,Keith Cumberpatch,1927-08-25,Christchurch,Canterbury,NZL,New Zealand,NaN,NaN,2013-11-15
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN
117676,119195,Duncan Keith,1983-07-16,Winnipeg,Manitoba,CAN,Canada,185.0,88.0,NaN
122121,124176,Keith Ferguson,1979-09-07,Sale,Victoria,AUS,Australia,176.0,78.0,NaN
127310,129749,Tracy Keith-Matchitt,1990-03-30,Palmerston North,Manawatu-Wanganui,NZL,Cook Islands,167.0,60.0,NaN

##### SQL-Style Query Interface

In [13]:
bios.query('born_country == "USA"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
54,55,Monique Javer,1967-07-22,Burlingame,California,USA,Great Britain,177.0,64.0,NaN
960,964,XÃ³chitl Escobedo,1968-09-17,West Covina,California,USA,Mexico,170.0,60.0,NaN
961,965,AngÃ©lica GavaldÃ³n,1973-10-03,El Centro,California,USA,Mexico,160.0,54.0,NaN
1231,1238,Bert Schneider,1897-07-01,Cleveland,Ohio,USA,Canada,NaN,NaN,1986-02-20
1345,1352,Laura Berg,1975-01-06,Santa Fe Springs,California,USA,United States,168.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145445,149168,Kristen Santos,1994-11-02,Fairfield,Connecticut,USA,United States,NaN,NaN,NaN
145446,149169,Corinne Stoddard,2001-08-15,Seattle,Washington,USA,United States,NaN,NaN,NaN
145454,149180,Anna Hoffmann,2000-03-28,Madison,Wisconsin,USA,United States,NaN,NaN,NaN
145457,149183,Alix Wilkinson,2000-08-02,Mammoth Lakes,California,USA,United States,NaN,NaN,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN

#### Adding or Removing Columns

In [15]:
coffee=pd.read_csv('coffee.csv')

##### Adding New Columns

In [16]:
coffee['price'] = 4.99

##### Conditional Data Modification

In [17]:
coffee.loc[(coffee['Coffee Type'] == 'Espresso'), 'price'] = 10

In [18]:
import numpy as np

In [19]:
coffee['new price']=np.where(coffee['Coffee Type']=='Espresso', 3.99, 5.99)